* { 
    box-sizing: border-box; 
}
body {
    background-color: #EAEAEA;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 0px;
}
header {
    background-color: #002171;
    text-align: center;
}
header a {
    text-decoration: none;
}
header a:link {
    color: #FFFFFF;
}
header a:visited {
    color: #FFFFFF;
}
header a:hover {
    color: #90C7E3;
}
nav {
    padding: 0px;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    font-size: 1.2em;
}
nav li {
    border-bottom: solid 1px darkblue;
}
nav a {
    text-decoration: none;
    margin: 0;
    transition: color ease-out 2s;
}
nav a:link {
    color: #5C7FA3;
}
nav a:visited {
    color: #344873;
}
nav a:hover {
    color: #A52A2A;
}
main {
    background-color: #FFFFFF;
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow: auto;
}
h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Georgia, Times New Roman, or serif;
    letter-spacing: 0.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
h2 {
    color: #1976D2;
    font-family: Georgia, Times New Roman, or serif;
    text-shadow: 1px 1px #CCCCCC;
    margin-left: 1em;
}
h3 {
    color: #000033;
    font-family: Georgia, Times New Roman, or serif;
}
video, embed { float: right; padding-left: 20px; }
main ul {
    list-style-image: url('res/marker.gif');
}
dt {
    color: #002171;
}
strong {
    color: #002171;
}
.resort {
    color: #1976D2;
    font-weight: bold;
}
.contact {
    font-size: 90%;
}
#wrapper {
    background: linear-gradient(#FFFFFF, #90C7E3) no-repeat;
    background-color: #90C7E3;
}
#content_image {
    width: 100%;
    height: 75%;
}
#homehero {
    height: 500px;
    background: url('res/coast2.jpg') no-repeat;
    background-size: 100% 100%;
}
#yurthero {
    height: 500px;
    background: url('res/yurt.jpg') no-repeat;
    background-size: 100% 100%;
}
#trailhero {
    height: 500px;
    background: url('res/trail.jpg') no-repeat;
    background-size: 100% 100%;
}
section {
    width: 33%;
    float: right;
}
footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, Times New Roman, or serif;
    padding: 2em;
    background-color: #FFFFFF;
}
table {
    border: solid 2px #3399CC;
    border-collapse: collapse;
    text-align: center;
}
td {
    padding: 0.5em;
    border: solid 2px #3399CC;
}
th {
    padding: 0.5em;
    border: solid 2px #3399CC;
}
.text {
    text-align: left;
}
tr:nth-of-type(2n) {
    background-color: #F5FAFC;
}
form { 
    display: flex;
    flex-flow: column nowrap; 
}
input, textarea { margin-bottom: .5em; }
@media(min-width:600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    nav li {
        border-bottom: none;
    }
    section {
        width: 33%;
        padding-left: 2em;
        padding-right: 2em;
        grid-row: 2 / 3; 
        grid-column: auto;
    }
    form {
        width: 60%;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 6em 1fr;
        grid-template-rows: auto;
    }
    #submit {
        width: 9em;
        grid-column: 2;
    }
}
@media(min-width:1024px) {
    nav {
        width: 180px;
        text-align: left;
        padding-left: 1em;
    }
    nav ul {
        padding-top: 1em;
        flex-direction: column;
    }
    #wrapper {
        margin: auto;
        width: 80%;
        border: solid 1px darkblue;
        box-shadow: 1px 1px 1px black;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: auto;
    }
    #wrapper header {
        grid-column: 1 / 3;
    }
    #wrapper nav {
        grid-column: 1;
    }
    #wrapper footer {
        grid-column: 2;
    }
    #special {
        padding-left: 1em;
        grid-column: 2;
        background-color: white;
    }
}